<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">

<head>
  <title>Login User</title>
</head>

<body>
  <h1>Your Login Details</h1>
  <div>
    <p>
    <div><strong>name:</strong> <span th:text="${username}"></span></div>
    <div><strong>email:</strong> <span th:text="${email}"></span></div>
    <div><strong>id:</strong> <span th:text="${sub}"></span></div>
    </p>
  </div>

  <form th:action="@{/logout}" method="post">
    <input type="submit" value="Logout" />
  </form>

  <!-- Add this form in your HTML file -->
  <form th:action="@{/user/getTokens}" method="get">
    <input type="submit" value="Get Refresh Token" />
  </form>

</body>

</html>
